---
import type { GetStaticPathsOptions, MarkdownInstance, Page } from 'astro';
import BlogPostCard from '../../components/BlogPostCard.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
import { PostFrontMatter, sortPostsByDate } from '../../utils/posts';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await Astro.glob<PostFrontMatter>('./*.md');
  const sortedPosts = sortPostsByDate(allPosts);
  
  return paginate(sortedPosts, { pageSize: 6 });
}
export interface Props {
  page: Page<MarkdownInstance<PostFrontMatter>>;
}
const { page } = Astro.props as Props;

const title = "Posts page " + page.currentPage;
const description = "Here you can read all about what's on my mind or what I'm currently working on";
---

<Layout head={{ title, description }}>
  
	<Section>
		<div class="titleContainer">
			<h1 class="title">Marijn Kneppers' blog</h1>
			<div class="description">
				Here you can read all about what's on my mind or what I'm currently working on
			</div>
		</div>
	</Section>

	<Section>
		<div class={`grid grid-cols-1 grid-rows-${Math.ceil(page.data.length / 3)} gap-6 md:grid-cols-3`}>
			{page.data.map((post) => (
				<BlogPostCard post={post} />
			))}
		</div>
	</Section>
	<Section>
		<div class="postNavContainer">
			<div class="postNav olderPosts">
				{page.url.prev &&
					<a href={page.url.prev}>	
						← Older posts
					</a>
				}
			</div>
			<div class="postNavIndexes">
			{
				[...Array(page.lastPage)].map((_, index) => (
					<a href={`/posts/${(index != 0)? index + 1 : ""}`}>{index + 1}</a>
				))
			}
			</div>
			<div class="postNav newerPosts">
				{page.url.next &&
					<a href={page.url.next}>	
						Newer posts →
					</a>
				}
			</div>
		</div>
	</Section>

</Layout>

<style>
	.titleContainer {
		@apply text-center
	}
	.title {
		@apply text-4xl font-bold
	}
	.description {
		@apply mt-3 text-gray-200
	}
	.postNavContainer {
		@apply flex justify-between
	}
	.postNav {
		@apply w-28
	}
	.olderPosts {
		@apply hover:-translate-x-1
	}
	.postNavIndexes {
		@apply flex justify-around w-96
	}
	.newerPosts {
		@apply hover:translate-x-1
	}
</style>