---
import type { GetStaticPathsOptions, MarkdownInstance, Page } from 'astro';
import BlogPostCard from '../../components/BlogPostCard.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
import { FrontMatter, sortByDate } from '../../utils/posts';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await Astro.glob<FrontMatter>('./*.md');
  const sortedPosts = sortByDate(allPosts);
  
  return paginate(sortedPosts, { pageSize: 6 });
}
export interface Props {
  page: Page<MarkdownInstance<FrontMatter>>;
}
const { page } = Astro.props as Props;

const title = "blog page " + page.currentPage;
const description = "blog desc";
---

<Layout head={{ title, description }}>
  
	<Section>
		<div class={`grid grid-cols-1 grid-rows-${Math.ceil(page.data.length / 3)} gap-6 md:grid-cols-3`}>
			{page.data.map((post) => (
				<BlogPostCard post={post} />
			))}
		</div>
	</Section>

</Layout>