---
import { CollectionEntry, getCollection } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { format } from "date-fns";

export async function getStaticPaths() {
	const posts: CollectionEntry<'blog'>[] = await getCollection('blog', ({ data }) => {
		if(import.meta.env.MODE == "production")
			return data.draft != true;
		return true;
	});

	const params = posts.map((post) => { const slug = post.slug; return {params: {post: slug}, props: {post: post}} })
	
	return params;
}

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { Content } = await post.render();
---

<ArticleLayout title={post.data.title} description={post.data.description} imgSrc={post.data.imgSrc} imgAlt={post.data.imgAlt}>
	<div slot="after-title" class="date">By Marijn Kneppers on <time datetime={`${format(post.data.pubDate, "yyyy-MM-dd HH:mm")}`}>{format(post.data.pubDate, "MMM d, y")}</time></div>
	<Content slot="article" />
</ArticleLayout>

<style>
	.date {
		@apply text-gray-400 text-center
	}
</style>
