---
import Section from "@components/Section.astro";
import ComputeShader from "@components/sandbox/webgpu/ComputeShader.astro";
import SpinningTriangle from "@components/sandbox/webgpu/SpinningTriangle.astro";
import Triangle from "@components/sandbox/webgpu/Triangle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout head={{ title: "TBA", description: "TBA" }}>
	<Section id="webGPUContainer">
		<Triangle/>
		<SpinningTriangle/>
		<ComputeShader/>
	</Section>
</Layout>

<script>
	if(!navigator.gpu)
	{
		const container = document.getElementById("webGPUContainer") as HTMLDivElement;

		container.innerHTML = "<p>This browser does not support WebGPU</p>"
	}
</script>