---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
---

<Layout head={{title: "404 page not found", description: "This page does not exist"}}>
	<Section>
		<h1>Page not found</h1>
		<p>
			The page you were looking for does not exist. Did you spell the url correctly?
		</p>
	</Section>
</Layout>