---
import BlogPostCard from '../components/BlogPostCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import { PostFrontMatter, sortPostsByDate } from '../utils/posts';
import { ProjectFrontMatter, sortProjectsByDate } from '../utils/projects';
import {Image} from "@astrojs/image/components"

const posts = await Astro.glob<PostFrontMatter>("./posts/*.md");
const sortedPosts = sortPostsByDate(posts);
const lastPosts = sortedPosts.slice(0, 3);

const projects = await Astro.glob<ProjectFrontMatter>("./projects/*.md");
const sortedProjects = sortProjectsByDate(projects);
const lastProjects = sortedProjects.slice(0, 3);

---

<Layout head={{title: "Home", description: "Hello. I'm Marijn Kneppers, a 16 year old developer from the Netherlands."}}>
	<Section>
		<div class="fullIntroductionContainer">
			<div class="introductionContainer">
				<h1 class="introductionName">
					Hello. I'm <span class="gradient">Marijn Kneppers</span>
				</h1>
				<p class="introduction">
					I'm an enthousiastic 16 year old developer living in the Netherlands.
				</p>
			</div>
			<div class="image">
				<div class="picture">
					<Image width={600} height={800} src={"/images/foto.jpg"} format="avif" alt="A picture of me" loading={"eager"} />
				</div>
			</div>
		</div>
	</Section>
	<Section>
		<div class="articlesHeader">
			<div class="recent">
				Recent <span class="gradient">Projects</span>
			</div>
			<div class="viewAll">
				<a href="/projects/">View all projects →</a>
			</div>
		</div>
		<div class="projects">
			{
				lastProjects.map((project) => (
					<ProjectCard project={project} />
				))
			}
		</div>
	</Section>
	<Section>
		<div class="articlesHeader">
			<div class="recent">
				Recent <span class="gradient">Posts</span>
			</div>
			<div class="viewAll">
				<a href="/posts/">View all posts →</a>
			</div>
		</div>
		<div class="blogPosts">
			{lastPosts.map((post) => 
			(
				<BlogPostCard post={post} />
			))}
		</div>
	</Section>
</Layout>

<style>
	.fullIntroductionContainer {
		@apply flex flex-col items-center md:flex-row md:justify-between md:gap-x-24
	}
	.introductionContainer
	{
		@apply pb-6
	}
	.introductionName {
		@apply text-3xl font-bold mb-0 mt-0
	}
	.introduction {
		@apply mt-6 text-xl leading-9
	}
	.image {
		@apply shrink-0
	}
	.picture {
		@apply w-[300px] h-[400px]
	}
	.articlesHeader {
		@apply flex items-baseline justify-between mb-4
	}
	.recent {
		@apply text-2xl font-bold
	}
	.viewAll {
		@apply text-sm hover:translate-x-1
	}
	.projects {
		@apply grid bg-slate-800 rounded-md p-3 gap-4
	}

	.blogPosts {
		@apply grid grid-cols-1 gap-6 sm:grid-cols-3
	}
</style>