---
import BlogPostCard from '@components/BlogPostCard.astro';
import ProjectCard from '@components/ProjectCard.astro';
import Section from '@components/Section.astro';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { sortPostsByDate } from '../utils/posts';
import { sortProjectsByDate } from '../utils/projects';
import {Image} from "astro:assets";
import Icon from "@components/Icon.astro";
import heroImage from "@assets/images/foto.jpg";

const posts = await getCollection('blog', ({ data }) => {
	if(import.meta.env.MODE == "production")
		return data.draft != true;
	return true;
});
const sortedPosts = sortPostsByDate(posts);
const lastPosts = sortedPosts.slice(0, 3);

const projects = await getCollection("projects");
const sortedProjects = sortProjectsByDate(projects);
const lastProjects = sortedProjects.slice(0, 3);
---

<Layout head={{title: "Home", description: "Hello. I'm Marijn Kneppers, a 16 year old developer from the Netherlands."}}>
	<Section>
		<div class="fullIntroductionContainer">
			<div class="introductionContainer">
				<h1 class="introductionName">
					Hello. I'm <span class="gradient">Marijn Kneppers</span>
				</h1>
				<p class="introduction">
					I'm an enthousiastic 16 year old developer living in the Netherlands.
				</p>
				<div id="icons">
					<a href="https://www.linkedin.com/in/marijn-kneppers/" target="_blank">
						<Icon icon="LinkedIn" height={64} />
					</a>
					<a href="https://github.com/mandar1jn/" target="_blank">
						<Icon icon="Github" height={64} />
					</a>
				</div>
			</div>
			<div class="image">
				<div class=" w-[300px] h-[400px]">
					<Image src={heroImage} format="avif" alt="A picture of me" loading={"eager"} class="heroImage" />
				</div>
			</div>
		</div>
	</Section>
	<Section>
		<div class="articlesHeader">
			<div class="recent">
				Recent <span class="gradient">Projects</span>
			</div>
			<div class="viewAll">
				<a href="/projects/">View all projects →</a>
			</div>
		</div>
		<div class="projects">
			{
				lastProjects.map((project) => (
					<ProjectCard project={project} />
				))
			}
		</div>
	</Section>
	<Section>
		<div class="articlesHeader">
			<div class="recent">
				Recent <span class="gradient">Posts</span>
			</div>
			<div class="viewAll">
				<a href="/posts/">View all posts →</a>
			</div>
		</div>
		<div class="blogPosts">
			{lastPosts.map((post) => 
			(
				<BlogPostCard post={post} />
			))}
		</div>
	</Section>
</Layout>

<style>
	.fullIntroductionContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media(min-width: 768px)
	{
		.fullIntroductionContainer {
			flex-direction: row;
			justify-content: space-between;
			column-gap: 6rem;
		}
	}
	.introductionContainer
	{
		padding-bottom: 1.5rem;
	}
	.introductionName {
		@apply text-3xl font-bold mb-0 mt-0
	}
	.introduction {
		@apply mt-6 text-xl leading-9
	}
	.image {
		@apply shrink-0
	}
	.articlesHeader {
		@apply flex items-baseline justify-between mb-4
	}
	.recent {
		@apply text-2xl font-bold
	}
	.viewAll {
		@apply text-sm hover:translate-x-1
	}
	.projects {
		@apply grid bg-slate-800 rounded-md p-3 gap-4
	}

	.blogPosts {
		@apply grid grid-cols-1 gap-6 sm:grid-cols-3
	}

	.heroImage {
		object-fit: cover;
		height: 400px;
	}

	#icons {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 20px;
		margin-top: 20px;
	}

	@media (max-width: 768px)
	{
		#icons {
			justify-content: center;
		}
	}
</style>