---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout head={{ title: "WebGPU experiments", description: "All my experiments regarding WebGPU" }}>
	<Section>
		<h1>WebGPU experiments</h1>

		<a href="/sandbox/webgpu/triangle"><h2>Triangle</h2></a>
		<a href="/sandbox/webgpu/spinning-triangle"><h2>Spinning triangle</h2></a>
		<a href="/sandbox/webgpu/spinning-cube"><h2>Spinning cube</h2></a>
		<a href="/sandbox/webgpu/spinning-cube-indexed"><h2>Spinning cube using an index buffer</h2></a>
		<a href="/sandbox/webgpu/spinning-textured-cube"><h2>Spinning and textured cube</h2></a>
		<a href="/sandbox/webgpu/compute-shader"><h2>Compute shader</h2></a>
	</Section>
</Layout>
