---
import Section from "./Section.astro";
---
<Section>
	<div class="border-t border-gray-600 pt-5">
		<footer>
			<a href="/sitemap-index.xml">Sitemap</a>
		</footer>
		<div class="text-sm text-gray-200 flex flex-row justify-between mt-5">
			<p>
				© Copyright 2022 by <span class="gradient">Marijn Kneppers</span>. All rights reserved.
			</p>
			<div>
				Made with ♥ by me.
			</div>
		</div>
	</div>
</Section>