---
import Section from "./Section.astro";
---

<footer class="footer">
		<Section>
		<div id="nav">
			<a href="/sitemap-index.xml">Sitemap</a>
			<a href="/rss.xml">Feed</a>
		</div>
		<div class="copyright">
			<p>
				© Copyright 2022 by <span class="gradient">Marijn Kneppers</span>. All rights reserved.
			</p>
			<div>
				Made with ♥ by me.
			</div>
		</div>
	</Section>
</footer>


<style>
	#nav {
		border-top-width: 1px;
		border-color: var(--color-gray-600);
		padding-top: 1.25rem;
		display: flex;
		flex-direction: column;
	}

	.copyright {
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: var(--color-gray-200);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1.25rem;
	}
</style>