---
import Section from "@components/Section.astro";
import Icon from "@components/Icon.astro";
---

<footer class="footer">
	<Section>
		<div id="nav">
			<a class="navLink" href="/sitemap-index.xml">Sitemap</a>
			<a class="navLink" href="/rss.xml">Feed</a>
		</div>
		<div class="copyright">
			<p>
				© Copyright 2022 by <span class="gradient">Marijn Kneppers</span>. All rights reserved.
			</p>
			<div class="icons">
				<a href="https://www.linkedin.com/in/marijn-kneppers/" target="_blank">
					<Icon icon="LinkedIn" width={32} />
				</a>
				<a href="https://github.com/mandar1jn/" target="_blank">
					<Icon icon="Github" width={32} />
				</a>
			</div>
		</div>
	</Section>
</footer>


<style>
	#nav {
		border-top-width: 1px;
		border-color: var(--color-gray-600);
		padding-top: 1.25rem;
		display: flex;
		flex-direction: column;
	}
	.navLink {
		height: 48px;
	}

	.copyright {
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: var(--color-gray-200);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1.25rem;
	}

	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
</style>