---
import Section from "./Section.astro";
---

<footer class="footer">
		<Section>
		<div id="nav">
			<a href="/sitemap-index.xml">Sitemap</a>
		</div>
		<div class="copyright">
			<p>
				© Copyright 2022 by <span class="gradient">Marijn Kneppers</span>. All rights reserved.
			</p>
			<div>
				Made with ♥ by me.
			</div>
		</div>
	</Section>
</footer>


<style>
	#nav {
		@apply border-t border-gray-600 pt-5
	}

	.copyright {
		@apply text-sm text-gray-200 flex flex-row justify-between mt-5
	}
</style>