---
import Section from "./Section.astro";
---
<Section>
	<footer class="border-t border-gray-600 pt-5">
		<div class="text-sm text-gray-200">
			© Copyright 2022 by <span class="gradient">Marijn Kneppers</span>
		</div>
	</footer>
</Section>