---
import Section from "../components/Section.astro";
---

<Section>
	<div
		class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
	>
		<a href="/"
			><div
				class="flex items-center text-xl font-bold gradient"
			>
			<!-- TODO: insert logo (SVG) -->	
			Marijn Kneppers
			</div>
		</a>
		<nav>
			<ul class="flex gap-x-3 font-medium text-gray-200">
				<li class="hover:text-white">
					<a href="/">Home</a>
				</li>
				<li class="hover:text-white">
					<a href="/projects/">Projects</a>
				</li>
				<li class="hover:text-white">
					<a href="/posts/">Posts</a>
				</li>
				<li class="hover:text-white">
					<a href="https://github.com/mandar1jn" target="_blank">GitHub</a>
				</li>
			</ul>
		</nav>
	</div>
</Section>
