---
import Section from "../components/Section.astro";
---

<Section>
	<header>
		<nav class="navbar">
			<a href="/">
				<div class="title gradient">
				<!-- TODO: insert logo (SVG) -->	
				Marijn Kneppers
				</div>
			</a>
			<div>
				<ul class="links">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/projects">Projects</a>
					</li>
					<li >
						<a href="/posts">Posts</a>
					</li>
					<li>
						<a href="https://github.com/mandar1jn" target="_blank">GitHub</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</Section>

<style>
	.navbar {
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;
	}

	@media (min-width: 640px) {
		.navbar {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	.title {
		display: flex;
		align-items: center;
		font-size: 1.25rem;
		line-height: 1.75rem;
		font-weight: 700;
	}

	.links {
		display: flex;
		column-gap: 0.75rem;
		font-weight: 500;
		color: var(--color-gray-200)
	}
</style>
