---
type Props = {
	id?: string;
}

const {id} = Astro.props as Props;
---

<section class="section" id={id}>
	<slot />
</section>

<style>
	.section {
		@apply mx-auto max-w-screen-lg px-3 py-6
	}
</style>