---
import BaseLayout from "@layouts/Layout.astro"
import {Image} from "@astrojs/image/components"

interface Props {
	title: string,
	description: string,
	imgSrc: string,
	imgAlt: string
}

const {title, description, imgSrc, imgAlt} = Astro.props as Props;
---
<BaseLayout head={{title: title, description: description}}>
	<article id="article">
		<h1 id="title">{title}</h1>
		<slot name="after-title" />
		<div id="articleSection">
				<Image id="image" src={imgSrc} format={"avif"} width={256} aspectRatio={1.25} alt={imgAlt} loading={"eager"} />
			<div id="articleContent">
				<slot name="article" />
			</div>
		</div>
	</article>
</BaseLayout>

<style>
	#article {
		@apply mx-auto max-w-screen-lg px-3 py-6
	}

	#title {
		@apply text-4xl font-bold text-center
	}

	#image {
		@apply rounded-lg object-cover mx-auto
	}

	#articleSection {
		@apply mx-auto mt-5 max-w-[65ch]
	}
	#articleSection :global(p) {
		@apply mt-5 mb-5
	}
	#articleSection :global(a) {
		@apply text-white font-medium underline
	}
	#articleSection :global(img) {
		@apply mt-8 mb-8
	}
	#articleContent {
		@apply text-[#d1d5db] leading-7 text-base
	}
</style>