---
import BaseLayout from "./Layout.astro"
import {Image} from "@astrojs/image/components"

interface Props {
	title: string,
	description: string,
	imgSrc: string,
	imgAlt: string
}

const {title, description, imgSrc, imgAlt} = Astro.props as Props;
---
<BaseLayout head={{title: title, description: description}}>
	<article class="article">
		<h1 class="title">{title}</h1>
		<slot name="after-title" />
		<div class="articleSection">
				<Image class="image" src={imgSrc} format={"avif"} width={256} aspectRatio={1.25} alt={imgAlt} loading={"eager"} />
			<div class="articleContent">
				<slot name="article" />
			</div>
		</div>
	</article>
</BaseLayout>

<style>
	.article {
		@apply mx-auto max-w-screen-lg px-3 py-6
	}

	.title {
		@apply text-4xl font-bold text-center
	}

	.image {
		@apply rounded-lg object-cover mx-auto
	}

	.articleSection {
		@apply mx-auto mt-5 max-w-[65ch]
	}
	.articleContent {
		@apply mt-8 text-[#d1d5db] leading-7 text-[1rem]
	}
</style>

<style is:global>
	div.articleSection :first-child {
		@apply mt-0
	}
	div.articleSection p {
		@apply mt-[1.25em] mb-[1.25em]
	}
	div.articleSection a {
		@apply text-white font-medium underline
	}
	div.articleSection img {
		@apply mt-8 mb-8
	}
</style>