---
import BaseLayout from "@layouts/Layout.astro"
import {Image} from "astro:assets"

interface Props {
	title: string,
	description: string,
	imgSrc: ImageMetadata,
	imgAlt: string
}

const {title, description, imgSrc, imgAlt} = Astro.props as Props;
---
<BaseLayout head={{title: title, description: description}}>
	<article id="article">
		<h1 id="title">{title}</h1>
		<slot name="after-title" />
		<div id="articleSection">
				<Image src={imgSrc} width={256} height={205} alt={imgAlt} format="avif" loading="eager" id="image" />
			<div id="articleContent">
				<slot name="article" />
			</div>
		</div>
	</article>
</BaseLayout>

<style>
	#article {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	#title {
		font-size: 2.25rem;
    	line-height: 2.5rem;
		font-weight: bold;
		text-align: center;
	}

	#image {
		border-radius: 0.5rem;
		object-fit: cover;
		margin-left: auto;
    	margin-right: auto;
	}

	#articleSection {
		@apply mx-auto mt-5 max-w-[65ch]
	}
	#articleSection :global(p) {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	#articleSection :global(a) {
		color: white;
		font-weight: 500;
		text-decoration: underline;
	}
	#articleSection :global(img) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	#articleContent {
		@apply text-[#d1d5db] leading-7 text-base
	}
</style>