---
import type { FrontMatter } from '../utils/posts';
import BaseLayout from './Layout.astro'
import {format, parseISO} from 'date-fns'

export interface Props {
	content: FrontMatter;
}

const {content} = Astro.props as Props;
---
<BaseLayout head={{title: content.title, description: content.description}}>
	<article class="mx-auto max-w-screen-lg px-3 py-6">
		<h1>{content.title}</h1>
		<div>By Marijn Kneppers on {format(parseISO(content.pubDate), "MMM d, y")}</div>
		<img src={content.imgSrc} alt={content.imgAlt} />
		<slot />
	</article>
</BaseLayout>